<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>fc_web</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>fc_web</web-resource-name>
      <description>The fc_sportsware web application</description>
       <url-pattern>/admin</url-pattern>
    </web-resource-collection>

    <auth-constraint>
      <description>Only fc_sportsware's admin can use those JSP pages</description>
      <role-name>fc_Admin</role-name>
    </auth-constraint>
  </security-constraint>

  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>fc_sportsWare Admin</realm-name>
  </login-config>

  <security-role>
    <description>fc_sportsWare admin user</description>
    <role-name>fc_Admin</role-name>
  </security-role>
  
  <servlet>
    <description></description>
    <display-name>IndexController</display-name>
    <servlet-name>IndexController</servlet-name>
    <servlet-class>com.guangbo.chen.controller.IndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexController</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductController</display-name>
    <servlet-name>ProductController</servlet-name>
    <servlet-class>com.guangbo.chen.controller.ProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductController</servlet-name>
    <url-pattern>/products</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderController</display-name>
    <servlet-name>OrderController</servlet-name>
    <servlet-class>com.guangbo.chen.controller.OrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderController</servlet-name>
    <url-pattern>/orders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PurchaseController</display-name>
    <servlet-name>PurchaseController</servlet-name>
    <servlet-class>com.guangbo.chen.controller.PurchaseController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseController</servlet-name>
    <url-pattern>/purchase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewOrderController</display-name>
    <servlet-name>ViewOrderController</servlet-name>
    <servlet-class>com.guangbo.chen.controller.ViewOrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewOrderController</servlet-name>
    <url-pattern>/viewOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminController</display-name>
    <servlet-name>AdminController</servlet-name>
    <servlet-class>com.guangbo.chen.controller.AdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminController</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
</web-app>